@font-face {
    font-family: 'Epilepsy-Sans';
    font-weight: 400;
    src: url(../fonts/EpilepsySans.ttf);
}
@font-face {
    font-family: 'Epilepsy-Sans';
    font-weight: 700;
    src: url(../fonts/EpilepsySansBold.ttf);
}
