$main_aqua: #9FECD2;
$secondary_aqua: #81B0B7;

$white_gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(153,153,153,0.804359243697479) 100%);
$gold_gradient: linear-gradient(180deg, rgba(208,183,141,1) 0%, rgba(69,61,52,1) 100%);